@page "/fetchdatamvvm"
@using  Portal264.Blazor.ViewModels
@using  Portal264.Blazor.Components
@inject IFetchDataViewModel fetchDataViewModel

<h1>Weather forecast</h1>
<p>This component demonstrates fetching data from the server.</p>

<button class="btn btn-primary" onclick=@fetchDataViewModel.ToggleTemperatureScale>
    Display @fetchDataViewModel.DisplayOtherTemperatureScaleLong
</button>
<button class="btn btn-primary" onclick=@(async () => await fetchDataViewModel.TogglePremiumMembership())>
    @fetchDataViewModel.DisplayPremiumToggleMessage
</button>

@if (fetchDataViewModel.BasicForecastViewModel.WeatherForecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <BasicForecast ViewModel="@fetchDataViewModel.BasicForecastViewModel" />
}

@functions {
    protected override async Task OnInitAsync()
    {
        await fetchDataViewModel.RetrieveForecastsAsync();
    }
}