@page "/"

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">
            A cappella Group
            <span class="text-primary">264</span>
        </h1>
        <div class="subheading mb-5">
            A Cappella Group no 264(tsu-mu-ji) desu. otona no warufuzake, mitsumeyou. 264 to issho ni paradise!!!!!
        </div>
        <span class="d-block d-lg-none">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/logo.jpeg" alt="">
        </span>
        <br />
        <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/acappella.264" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/264acappella" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.youtube.com/channel/UCASYHw_S6bt_7bUhyWWu61Q" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
