@page "/videos"
@inherits YoutubeVideosBase

<section class="resume-section p-3 p-lg-5 d-flex flex-column">
    <h2>Video</h2>
    @if (ViewModel.Videos.Count == 0)
    {
        <div class="subheading mb-5">
            ビデオ情報がありません。
        </div>
    }
    else
    {
        @foreach (var video in ViewModel.Videos)
        {
            <div class="card flex-md-row mb-3">
                <div class="card-body">
                    <string class="d-inline-block mb-2 text-primary">
                        @video.DisplayDatePublishedAt
                    </string>
                    <h4 class="mb-1 nowrap-ellipsis">
                        @video.Title
                    </h4>
                </div>
                <a href="@video.Url" target="_blank" class="youtube">
                    <img width="320" height="180" src="@video.ThumbnailUrl" class="card-img-right flex-auto d-lg-block" alt="" />
                </a>
            </div>
        }
    }
</section>
